
@{
    ViewBag.Title = "SelectCity";
}

<h2>SelectCity</h2>
<form method="post" action="/City/SelectCity">
    Zipcode :<input id="id" name="zipcode" type="text" />

    <input type="submit" value="Create" class="btn btn-default" />
</form>