
@{
    ViewBag.Title = "Index";
}

<h2>Admin</h2>
<div class="form-group">
    <div class="col-md-10">
    @Html.ActionLink("Edited Products", "Index", "Product", null, new { style = "font-family:verdana; font-size:150%; " })
    </div>
  </div>
